@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* geral */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: "Nunito Sans", sans-serif;
}

p {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}

a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-style: normal;
}

button {
    font-family: "Poppins", sans-serif;
}

img {
    user-select: none;
    pointer-events: none;
}

.alinhamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conversao-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'a1 a2 a3'
        'a4 a5 a6';
    gap: 1rem;
}

/*navegacao*/

.navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #793AE0;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    width: 100%;
}

.navegacao-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0 2rem;
    color: white;
    flex-wrap: wrap; /* Permite que os itens se ajustem melhor em telas menores */
}

#perfil {
    display: flex;
    align-items: center;
    padding: 0 0 0 3rem; /* Ajustado para não ter padding excessivo */
    margin: 1rem;
}


.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.menu-mobile {
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #793AE0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    padding: 1rem 0;
}

.menu-mobile a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    text-align: center;
    display: block;
}

/*titulo nav*/

.titulo-nav {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-style: italic;
    font-size: 2rem;
    font-weight: 700;
}

/*lista nav*/

.list-choice {
    width: 300px;
    position: relative;
    cursor: pointer;
}

.list-choice input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.list-choice-title {
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: block;
    background: #b493eb;
    text-align: center;
    padding: 0.55em 1em;
    box-sizing: border-box;
    color: #FFF;
    text-shadow: 0 1px 0 #CACACA;
    border-radius: 0.2em;
    border: 1px solid #000;
}

.list-choice:hover .list-choice-title {
    border-radius: 0.2em 0.2em 0 0;
}

.list-choice-objects label:nth-last-of-type(1) span {
    border-radius: 0 0 0.2em 0.2em;
}

.list-choice input[type="radio"]+span {
    color: #FFF;
    background: #b493eb;
    padding: 0.55em 1em;
    display: block;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.list-choice-objects {
    position: absolute;
    top: 0;
    padding-top: 2.1em;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: all 250ms ease;
}

.list-choice:hover .list-choice-objects input[type="radio"]+span {
    position: relative;
    top: 0;
    transition: all 250ms ease-in-out;
}

.list-choice:hover input[type="radio"]+span:hover {
    background: #A885E0;

}

.list-choice:hover input[type="radio"]:checked+span:hover {
    background: #896cb9;
}

.list-choice input[type="radio"]:checked+span {
    background: #896cb9;
    position: absolute;
    top: 0em;
    border-radius: 0.2em;
}

.list-choice:hover input[type="radio"]:checked+span {
    border-radius: 0;
}

.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked+span {
    border-radius: 0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
    max-height: 540px;
}

/*botao nav*/

.button-55 {
    appearance: button;
    background-color: #A885E0;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 6px 20px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-55-2 {
    appearance: button;
    background-color: rgb(219, 77, 77);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 6px 20px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-55:focus {
    text-decoration: none;
}

.button-55-2:focus {
    text-decoration: none;
}

.button-55:hover {
    text-decoration: none;
    background-color: #9675ca;
}

.button-55-2:hover {
    text-decoration: none;
    background-color: rgb(179, 52, 52);
}

.button-55:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-55-2:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-55:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

.button-55-2:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-55 {
        padding: 6px 20px;
    }
}

@media (min-width: 768px) {
    .button-55-2 {
        padding: 6px 20px;
    }
}

/*titulo principal*/

.titulo1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.principal h1 {
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0px;
    width: 20rem;
    text-align: center;
    margin: 2rem 0 3rem 0;
    white-space: nowrap;
    border: 2px solid #222;
    padding: 1rem 4rem 1rem 4rem;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 2px;
    user-select: none;
}

.principal2 h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0px;
    width: 50rem;
    text-align: center;
    margin: 2rem 0 3rem 0;
    white-space: nowrap;
    border: 2px solid #222;
    padding: 1rem 4rem 1rem 4rem;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 2px;
    user-select: none;
    margin-top: 5rem;
}

/*textos*/

.text1 {
    text-align: justify;
    margin: 3rem 30rem 0 30rem;
    font-size: 1.2rem;
}

.text2 {
    text-align: justify;
    font-size: 1.2rem;
}

.carl {
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: #222222 4px 4px 0 0, #000 4px 4px 0 2px;
}

.insira {
    font-size: 145%;
    font-weight: 700;
}

.conversao-texto {
    grid-area: a1;
    padding: 5rem;
}

.dropzone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropzone {
    grid-area: a2;
    padding: 5rem;
    text-align: center;
}

.dropzone.highlight {
    border: 2px dashed #00aaff;
    background-color: #f0f8ff;
}

.conversao-simplicidade {
    grid-area: a3;
    padding: 5rem;
}

.imagem-1 {
    grid-area: a4;
    padding: 5rem;
    text-align: center;
}

.conversao-variedade {
    grid-area: a5;
    padding: 5rem;
}

.imagem-2 {
    grid-area: a6;
    padding: 5rem;
    text-align: center;
}

/*formularios*/

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 1rem;
}

.formulario label{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.popup h2{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.formulario input {
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: #222222 2px 2px 0 0, #000 2px 2px 0 1px;
    font-family: "Poppins", sans-serif;
    padding: 2% 0 2% 0;
}

.dropzone {
    border: 5px #896cb9 dashed;
    border-radius: 35px;
}

.fileform,
select {
    background-color: #896cb9;
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
    font-family: "Poppins", sans-serif;
    border: 2px solid black;
}

.feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.feedback textarea {
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: #222222 4px 4px 0 0, #000 4px 4px 0 2px;
    max-height: 7rem;
    min-width: 20rem;
    max-width: 30rem;
    min-height: 7rem;
    font-family: "Poppins", sans-serif;
}

.feedback{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
}

/*tabelas*/

table {
    box-shadow: #222222 4px 4px 0 0, #000 4px 4px 0 2px;
    table-layout: fixed;
    margin: 0 auto;
}

table,
th,
td {
    border-collapse: collapse;
    border: 2px solid black;
}

.scroll {
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 2rem;
}

th {
    min-width: 15rem;
    height: 5rem;
    background-color: #A885E0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    padding: 5px;
}

td {
    min-width: 15rem;
    height: 5rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.05rem;
    padding: 5px;
}

tbody tr:nth-child(odd) {
    background-color: #c8b9e0;
    /* Cor para as linhas ímpares */
}

tbody tr:nth-child(even) {
    background-color: #e6d7ff;
    /* Cor para as linhas pares */
}

/*popups*/

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #896cb9;
    border-radius: 16px;
    padding: 2% 3% 2% 3%;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.overlay.visibility {
    visibility: visible;
}

#pop2:target #overlay {

    display: block;

}

/*footer*/

footer {
    background-color: #896cb9;
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.links:hover {
    color: #b492eb;
}

/* Media Queries para Responsividade */

/* Para telas pequenas com largura até 768px */
@media (max-width: 768px) {
    .navegacao {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
    }

    .navegacao-items {
        display: none;
        flex-direction: column;
        gap: 1rem;
        width: 80%;
        margin-top: 1rem;
    }

    .navegacao-items #logout{
        display: none;
    }

    .navegacao.active .navegacao-items {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
    
    .navegacao-items:nth-of-type(1) {
        order: 1;
    }

    .navegacao-items:nth-of-type(2) {
        order: 2;
    }

    .titulo-nav {
        font-size: 2rem;
    }

    .list-choice {
        width: 100%;
        margin: 1rem 0;
    }

    .list-choice-title {
        padding: 0.6em 1.5em;
    }

    .list-choice-objects label span {
        padding: 0.6em 1.5em;
    }

    .button-55,
    .button-55-2 {
        width: 100%;
        padding: 8px 16px;
        font-size: 14px;
    }

    table {
        font-size: 1rem;
    }

    th,
    td {
        padding: 8px;
        min-width: min-content;
    }

    .feedback{
        flex-direction: column;
    }

    .titulo-nav {
        font-size: 2rem;
    }

    .principal2 h1 {
        font-size: 2.5rem;
    }

    .titulo1 h1,
    .principal2 h1 {
        font-size: 2.5rem;
    }

    .alinhamento {
        padding: 1rem;
    }

    .conversao-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            'a1'
            'a2'
            'a3'
            'a4'
            'a5'
            'a6';
    }

    #perfil {
        display: block;
        padding: 0 1rem;
        width: 80%;
    }

    .scroll {
        padding: 0 1rem;
    }

    .text1 {
        margin: 1rem;
    }

    .conversao-texto, .conversao-simplicidade, .conversao-variedade, .imagem-1, .imagem-2{
        padding: 0;
    }

    footer{
        flex-direction: column;
    }

    .dropzone{
        display: none;
    }

    .titulo-nav {
        display: none;
    }

    .button-55-2{
        margin: 0;
    }

    .formulario {
        width: 18rem;
    }

    .popup .button-55-2{
        width: 20%;
    }

    .pop2 .popup{
        padding: 2rem;
    }
}

@media (max-width: 480px) {
    .titulo1 figure{
        display: none;
    }

    .navegacao-items {
        font-size: 14px;
    }

    .navegacao {
        padding: 1rem;
    }

    .navegacao-items {
        gap: 1rem;
    }

    .button-55,
    .button-55-2 {
        padding: 6px 14px;
        font-size: 12px;
    }

    .principal2 h1 {
        font-size: 2rem;
        width: fit-content;
        padding: 1rem 2rem;
    }

    .conversao-grid {
        grid-template-columns: 1fr;
    }

    /* Ajuste nos inputs e formulários */
    .formulario input,
    .fileform,
    .dropzone,
    select {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .feedback textarea {
        width: 100%;
        font-size: 14px;
    }

    /* Ajuste de espaçamentos e tamanhos de fontes em texto */
    .text1,
    .text2 {
        font-size: 1rem;
        margin: 1rem;
    }

    .titulo1 h1 {
        font-size: 2rem;
        margin-top: 3rem;
        width: 100%;
    }

    .titulo1 img{
        width: 50px;
    }

    .titulo1 {
        width: 80%;
    }
}

/* Ajustes para telas grandes (desktops) com largura maior que 1024px */
@media (min-width: 1024px) {
    .navegacao {
        flex-direction: row;
        justify-content: space-between;
    }

    .navegacao-items {
        gap: 3rem;
    }

    .list-choice {
        width: 300px;
    }

    .conversao-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'a1 a2 a3'
            'a4 a5 a6';
    }

    .titulo-nav {
        font-size: 1.5rem;
    }

    .button-55,
    .button-55-2 {
        padding: 8px 20px;
    }

    table {
        max-width: 80%;
        font-size: 1.1rem;
    }

    .text1,
    .text2 {
        font-size: 1.2rem;
    }

    .titulo1 h1 {
        font-size: 2.5rem;
    }

    .principal2 h1 {
        font-size: 2.5rem;
    }
}

.navegacao-items {
    transition: all 0.3s ease;
}

.navegacao.active .navegacao-items {
    opacity: 1;
    transform: translateY(0);
}

.rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}
.rating input {
    display: none;
}
.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #f39c12;
}

.has-error {
    display: flex;
    flex-direction: column;
}

.has-error input {
    border: 1px solid red;
    animation: shake 0.3s ease;
}

.error-message {
    color: red;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* Estilo para o Spinner */
.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    z-index: 9999;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #896cb9; /* Cor #896cb9 */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner p {
    color: #896cb9;
    margin-top: 10px;
    font-size: 16px;
}