{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fowlda</title>
    <link rel="stylesheet" href="{% static 'style/estilo.css' %}">
    <script>
        function redirectToLink(selectElement) {
            const selectedValue = selectElement.value;
            if (selectedValue) {
                window.location.href = selectedValue;
            }
        }
    </script>
</head>

<body>
    <nav class="navegacao">
        <div class="navegacao-items">
            <a href="{% url 'index' %}">
                <button class="button-55-2" role="button">
                    <span class="text">Voltar</span>
                </button>
            </a>
            <div class="list-choice">
                <div class="list-choice-title">Conversores</div>
                <div class="list-choice-objects">
                    <label>
                        <a href="{% url 'conversao' %}">
                            <input type="radio" name="month">
                            <span>Conversor de Documentos</span>
                        </a>
                    </label>
                    <label>
                        <a href="{% url 'IMG' %}">
                            <input type="radio" name="month">
                            <span>Conversor de Imagens</span>
                        </a>
                    </label>
                    <label>
                        <a href="{% url 'PLA' %}">
                            <input type="radio" name="month">
                            <span>Conversor de Planilhas</span>
                        </a>
                    </label>
                    <label>
                        <a href="{% url 'VID' %}">
                            <input type="radio" name="month">
                            <span>Conversor de Vídeo</span>
                        </a>
                    </label>
                </div>
            </div>
            <a href="{% url 'ajuda' %}">
                <button class="button-55" role="button">
                    <span class="text">Ajuda</span>
                </button>
            </a>
        </div>

        <div class="hamburger" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="navegacao-items">
            <h2 class="titulo-nav">FOWLDA</h2>
            <a href="{% url 'historico' %}">
                <button class="button-55" id="perfil">
                    <p>Meus Arquivos</p>
                    <figure>
                        <img src="{% static 'images/perfil.png' %}" alt="perfil" width="40">
                    </figure>
                </button>
            </a>
        </div>
    </nav>
    <div class="alinhamento">
        <div class="principal2">
            <h1>
                Feedbacks Enviados
            </h1>
        </div>
        <div class="scroll">
            <table>
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            conteúdo
                        </th>
                        <th>
                            Avaliação
                        </th>
                        <th>
                            Resposta
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for feedback in feedbacks %}
                    <tr>
                        <td>{{ feedback.data_feedback }}</td>
                        <td>{{ feedback.mensagem }}</td>
                        <td>
                            {% if feedback.avaliacao %}
                            {{ feedback.avaliacao }} Estrelas{{ feedback.avaliacao|pluralize:"s" }}
                            {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="feedback_id" value="{{ feedback.id }}">
                                {{ avaliacao_form.as_p }}
                                <button type="submit" class="button-55">Avaliar</button>
                            </form>
                            {% endif %}
                        </td>
                        <td>{{ feedback.resposta }}</td>
                    </tr>
                    {% endfor %}
                </tbody>            
            </table>
        </div>
    </div>
    
    <br>
    <br>
    <footer>
        <div>
            <h2>Conversores</h2>
            <ul>
                <a class="links" href="{% url 'conversao' %}">
                    <li>Conversor de Documentos</li>
                </a>
                <a class="links" href="{% url 'IMG' %}">
                    <li>Conversor de Imagens</li>
                </a>
                <a class="links" href="{% url 'PLA' %}">
                    <li>Conversor de Planilhas</li>
                </a>
                <a class="links" href="{% url 'VID' %}">
                    <li>Conversor de Vídeos</li>
                </a>
            </ul>
        </div>
        <div>
            <h1>Fowlda</h1>
        </div>
        <div>
            <h2>Envie-nos seu feedback</h2>
            <ul>
                <a class="links" href="{% url 'historico' %}#feedback">
                    <li>Escrever mensagem</li>
                </a>
            </ul>
        </div>
    </footer>
    <script>
        function togglePopup() {
            const popup = document.getElementById('popup');
            const overlay = document.getElementById('overlay');
            const isVisible = popup.style.display === 'block';

            popup.style.display = isVisible ? 'none' : 'block';
            overlay.style.display = isVisible ? 'none' : 'block';
        }

        function toggleMenu() {
            const menu = document.querySelector('.navegacao');
            menu.classList.toggle('active');
        }
    </script>
</body>

</html>
</body>

</html>